# Example Use Case Uber Fares Dataset

1. Perkenalan

Bab pengenalan harus diisi dengan identitas, gambaran besar dataset yang digunakan, dan objective yang ingin dicapai.

- Objective 

Pada kasus ini, tujuan atau objective yang ingin dicapai antara lain sebagai berikut:

- Mengetahui faktor apa saja yang mempengaruhi dalam memprediksi tarif harga transportasi online
- Mengetahui nilai akurasi pada model pengujian yang digunakan untuk memprediksi tarif uber.
- Mengetahui model yang baik dengan best configuration untuk memprediksi harga transportasi online.

2. Import Libraries

Cell pertama pada notebook harus berisi dan hanya berisi semua library yang digunakan dalam project.

In [2]:
import numpy as np
import pandas as pd

3. Data Loading

Bagian ini berisi proses penyiapan data sebelum dilakukan eksplorasi data lebih lanjut. Proses Data Loading dapat berupa memberi nama baru untuk setiap kolom, mengecek ukuran dataset, dll.

In [5]:
df = pd.read_csv('dataset/uber.csv')

In [6]:
df.head()

,Unnamed: 0,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,2015-05-07 19:52:06.0000003,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,2009-07-17 20:04:56.0000002,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,2009-08-24 21:45:00.00000061,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,2009-06-26 08:22:21.0000001,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,2014-08-28 17:47:00.000000188,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5

4. Exploratory Data Analysis (EDA)

Bagian ini berisi eksplorasi data pada dataset diatas dengan menggunakan query, grouping, visualisasi sederhana, dan lain sebagainya.

Apa saja yang berpengaruh terhadap harga taxi ? 
Jarak 
Waktu Jam 
Hari 
Musim
Kebutuhan dan ketersedian taxi 
ada tempat2 spesial 
jumlah penumpang

Describe features :
- ...

5. Feature Engineering

Bagian ini berisi proses penyiapan data untuk proses pelatihan model, seperti pembagian data menjadi train-test, transformasi data (normalisasi, encoding, dll.), dan proses-proses lain yang dibutuhkan.

-- mengambil data src la , le  ke dest la le mendapatkan jarak

import numpy as np
def distance(srcLat, srcLon, destLat, destLon):
    earth_radius = 6371 # km

    dlat = np.radians(destLat-srcLat)
    dlon = np.radians(destLon-srcLon)
    a = np.sin(dlat/2) * np.sin(dlat/2) + np.cos(np.radians(srcLat)) * np.cos(np.radians(destLat)) * np.sin(dlon/2) * np.sin(dlon/2)
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1-a))
    d = earth_radius * c

    return d

In [ ]:
from geopy.distance import great_circle

# koordinat titik pertama
lat1 = -6.21462
lon1 = 106.84513

# koordinat titik kedua
lat2 = -6.17156
lon2 = 106.82758

# hitung jarak menggunakan rumus Great Circle
distance = great_circle((lat1, lon1), (lat2, lon2)).km

print("Jarak antara dua titik adalah: {:.2f} km".format(distance))

-- ambil dari date time menjadi hari 
-- ambil dari date time menjadi hari-kerja 
-- buat group pickhour

In [ ]:

## optional menggunakan ini 
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler


# Preprocessing
X = df.drop(['amount'], axis=1) # drop target variable
X = StandardScaler().fit_transform(X) # standardize features

# PCA
pca = PCA(n_components=2) # set number of components
X_pca = pca.fit_transform(X) # transform features

# Display results
print('Original shape:', X.shape)
print('PCA shape:', X_pca.shape)

# kita mempunyai 2 features

6. Model Definition

Bagian ini berisi cell untuk mendefinisikan model (Minimal 2 model). Jelaskan alasan menggunakan suatu algoritma/model, hyperparameter yang dipakai, jenis penggunaan metrics yang dipakai, dan hal lain yang terkait dengan model.

-  menggunakan linear regression model
-  menggunakan regression

7. Model Training

Cell pada bagian ini hanya berisi code untuk melatih model dan output yang dihasilkan. Lakukan beberapa kali proses training dengan hyperparameter yang berbeda untuk melihat hasil yang didapatkan. Analisis dan narasikan hasil ini pada bagian Model Evaluation.

menggunakan 
GridSearchCV menggunakan model random forest 

definisi hyper parameter grid
``` 
param_grid = {
    'n_estimators': [10, 50, 100], 
    'max_depth': [None, 5, 10]
}
```
- nestimators : jumlah decision tree yang akan dibuat pada model random forest
- max_depth kedalaman maksimum dari decision tree pada model 

grid_search = GridSearchCV(estimator=modelrf, param_grid=param_grid, cv=5)

--------------------------------
GridSearchCV menggunakan model Linear Regression 
```
param_grid = {
    'fit_intercept': [True, False],
    'normalize': [True, False],
}
```

grid_search = GridSearchCV(estimator=modellr, param_grid, cv=5)

8. Model Evaluation

Pada bagian ini, dilakukan evaluasi model yang harus menunjukkan bagaimana performa model berdasarkan metrics yang dipilih. Hal ini harus dibuktikan dengan visualisasi tren performa dan/atau tingkat kesalahan model. Lakukan analisis terkait dengan hasil pada model dan tuliskan hasil analisisnya.

Root Mean Squared Error (RMSE): Menghitung akar kuadrat dari MSE. Semakin rendah nilai RMSE, semakin baik performa model.

9. Pengambilan Kesimpulan
Pada bagian terakhir ini, harus berisi kesimpulan yang mencerminkan hasil yang didapat dengan objective yang sudah ditulis di bagian pengenalan.